body
{
	font-family: 'KoHo', sans-serif;	
}

.header-part .container
{
    padding: 16px 0px;
}

.navCartPdiv
{
    display: flex;
    align-items: center;	
}

.topBannerSection
{
	height:600px;
	position:relative;
}

.topBannerSwiper
{
	height:600px;
	position:relative;
}

/* .topBannerSection .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction
{
	bottom: 20px;
    left: 0;
    width: 100%;
    margin-top: 40px;	
} */

.bannerBfr:before
{
	content:'';
	display:block;
	height:600px;
	width:100%;
	top:0;
	left:0;
	z-index: 0;
	position:absolute;
	background-color:#0000008f;
}

.banner_content
{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.banner_content h2
{
	color:#fff;
	font-weight: 800;
}

.banner_content p
{
	color: #fff;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
}

.form-search.bannerSearch 
{
    margin: 20px auto 0;
    text-align: center;
    font: bold 13px sans-serif;
    max-width: 70%;
    position: relative;
}

.form-search.bannerSearch input 
{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 8%);
    padding: 14px 15px 14px 40px;
    border: 1px solid #b6c3cd;
    border-right: 0;
    color: #4E565C;
    outline: none;
    -webkit-appearance: none;
    border-radius: 50px;
}

.form-search.bannerSearch button 
{
    position: absolute;
    right: 0;
    border-radius: 50px;
    height: 50px;
    background-color: #55bbd2;
    box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 8%);
    color: #ffffff;
    padding: 15px 30px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;
}

.deliveryPickupWrap
{
    padding: 0 50px;
    color: #fff;
    text-align: left;
    margin-top: 20px;	
}

.navbar-link.active
{
	color:#55bbd2;
	font-weight: 800;
}

.banner_content {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.resturatntSection 
{
    padding-top: 60px;
    padding-bottom: 60px;
}

.resturatntSection .container
{
	width: 1170px;
}

.main_title 
{
    position: relative;
    margin-bottom:0px;
    position: relative;
}

.main_title a
{
	color: #55bbd2;
}

.main_title span 
{
    width: 120px;
    height: 3px;
    background-color: #e1e1e1;
    display: block;
}

.main_title span em 
{
    width: 60px;
    height: 3px;
    background-color: #55bbd2;
    display: block;
}

.main_title h2 
{
    font-size: 28px;
    font-weight: 600;
    max-width: 600px;
    margin: 20px 0 0 0;
}

.main_title p 
{
	max-width: 600px;
    font-size: 22px;
    font-weight: 300;
}

.main_title a 
{
    position: absolute;
    right: 5px;
    bottom: 0;
    font-weight: 500;
}

.strip 
{
    position: relative;
    margin-bottom: 30px;
}

.strip figure 
{
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    height: 190px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-color: #ededed;
}

.ribbonDis.off 
{
    background-color: #ff3300;
}

.ribbonDis 
{
    color: #fff;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    position: absolute;
    top: 12px;
    right: 15px;
    padding: 7px 8px 4px 8px;
    font-weight: 600;
    min-width: 40px;
    z-index: 9;
}

.popularResturantSwipe .swiper-slide
{
	background: unset;	
}

.swiper-slide img 
{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.strip figure a.strip_info 
{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    display: block;
}

.strip figure a.strip_info>small 
{
    position: absolute;
    background-color: #000;
    background-color: #000;
    left: 15px;
    top: 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 6px 8px 4px 8px;
    line-height: 1;
    font-size: 12px;
}

.strip figure .item_title 
{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 65px 15px 10px 15px;
    background: -moz-linear-gradient(top, transparent 5%, #000 100%);
    background: -webkit-linear-gradient(top, transparent 5%, #000 100%);
    background: linear-gradient(to bottom, transparent 5%, #000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}

.strip figure .item_title h3 
{
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.strip figure .item_title small 
{
    font-weight: 500;
    line-height: 1;
    font-size: 13px;
    color: rgba(255,255,255,0.8);
}

.strip ul 
{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.strip ul li 
{
    display: inline-block;
    padding-top: 12px;
    font-size: 13px;
}

.loc_open 
{
    color: #32a067;
    border: 1px solid #32a067;
}

.loc_open, .loc_closed 
{
    position: relative;
    top: -2px;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 8px;
    line-height: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.delivSection_wrap 
{
    background-color: #f8f8f8;
    padding: 60px 0;
    background-image: url(../../images/deliverybackground.png);
    width: 100%;
    background-position: 20%;
    background-repeat: no-repeat;
}

.delivTitle 
{
    font-size: 40px;
    color: #fff;
    font-weight: 800;
}

.divlAddressWrap 
{
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.addOneWrap 
{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.addsDiv ul 
{
    list-style-type: none;
    color: #fff;
}

.becomeDriverPartner
{
	padding: 60px 0;	
}

.divDriverPartner
{
    width: 280px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.driverWrap img, .partnerWrap img
{
	width: 100%;
}

.driverWrap h2, .partnerWrap h2
{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;	
}

.driverWrap h3, .partnerWrap h3
{
    font-size: 17px;
    font-weight: 600;
    margin: 0 0;	
}

.driverWrap p, .partnerWrap p
{
    margin-bottom: 10px;
}

.joinUs 
{
    border-radius: 50px;
    background-color: #55bbd2;
    outline: none;
    height: 50px;
    color: #fff;
    padding: 12px 50px;
    font-size: 16px;
    font-weight: 600;
}

.joinUs:hover
{
	color:#fff;
	cursor:pointer;
	background-color:#000;
}


/* Swiper Start */

.swiper-container 
{
	width: 100%;
	height: 100%;
}

.swiper-slide 
{
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img 
{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction 
{
    bottom: 0px;
    left: 0;
    width: 100%;
    margin-top: 40px;
}

.popularResturantSwipe 
{
	height: 280px !important;	
}

/* Swiper End */

img {
    margin:5px;
	width: 21em;
}


.footer_dark 
{
    background-color: #202325;
    position: relative;
}

.bg_dark 
{
    background-color: #1D2224 !important;
}

.footer_top 
{
    padding: 50px 0 30px;
}

footer .widget 
{
    margin-bottom: 30px;
    width: 80%;
}

.footer_logo 
{
    margin-bottom: 30px;
    background: #fff;
    display: inline-block;
    padding: 10px;
}

.footer_logo img 
{
    width: 90px;
}

.widget p:last-child 
{
    margin: 0;
    color: #fff;
    font-size: 16px;
}

.social_icons, .contact_detail {
    font-size: 0;
}

.social_icons li {
    display: inline-block;
    padding: 0px 5px 5px 0;
}

.social_icons.social_style1 li a 
{
    background-color: rgba(255,255,255,0.1);
}

.social_white .social_icons li a, .social_white.social_icons li a, .header_wrap .social_white .social_icons li a, .header_wrap .social_white.social_icons li a 
{
    color: #fff;
    border-color: #fff;
}

.rounded_social li a 
{
    border-radius: 50px;
}

.social_icons li a 
{
    font-size: 18px;
    color: #777777;
    height: 36px;
    width: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.widget_links li a
{
	color: #fff;	
}

footer .widget_title 
{
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
	color: #fff;
}

footer .widget_links li
{
	margin-bottom:10px;
}

.contact_info li
{
	display:flex;
	margin-bottom:10px;
}

.contact_info li i
{
    line-height: 30px;
    margin-right: 15px;
	color:#fff;
}

.contact_info li a
{
	color:#fff;
}

.lunchHrsWrap .footerLunchHrs 
{
    width: 100%;
    max-width: 100%;
    color: #fff;
    font-weight: 600;
}

.foot_text_center
{
	color: #fff;
	text-align:center;
}

.foot_text_center .text_default
{
	color: #55bbd2;	
}

.footer_link li 
{
    display: inline-block;
    position: relative;
}

.innerHeader   
{
	height: 120px;
	position:relative;
	background-position: 50%;
    background-image: url(../../images/innerBanner.jpg);
}

.innerHeader:before   
{
	content:'';
	display:block;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	opacity: 0.7;
	background-color:#000;
}

.innerHeadText
{
	color: #fff;
    text-align: center;
    line-height: 120px;
    font-size: 22px;
    font-weight: bolder;  	
}

.innerHeadText a
{
	color:#55bbd2;
}

.resturantListSection
{
	padding:60px 0;
}

.resturantListWrap
{
	display:grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-column-gap: 3%;
    grid-row-gap: 30px;
    justify-content: center;
}

.resturantCard
{
	position: relative;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 0 1px rgb(67 41 163 / 8%), 0 1px 5px 0 rgb(67 41 163 / 8%);	
}

.resturantCard img
{
	width:100%;
	margin: 0;
}

.restNameRatingWrap
{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin: 10px 0 0 0;	
}

.restName a 
{
    color: #000;
    font-weight: 600;
}

.restRating span 
{
    height: 30px;
    width: auto;
    font-size: 13px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    letter-spacing: 2px;
    padding: 0 8px;
    color: #fff;
    font-weight: 800;
}

.goodRest
{
	border-radius: 4px;
	background-color: #4aa110;		
}

.averageRest{
	border-radius: 4px;
	background-color: #ffc000;	
}

.badRest
{
	border-radius: 4px;
	background-color: red;	
}

.restFtype
{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin: 0px 0;
    font-size: 14px;
}

.restSmalldetails
{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin: 10px 0;	
}

.price-time
{
    display: flex;
    flex-direction: column;	
}

.resttime
{
	font-size: 14px;
    font-weight: 600;	
}

.restprice 
{
    font-size: 14px;
}

.rating
{
	display: flex;
    flex-direction: column;
    justify-content: flex-end;	
}

.starSpan i
{
    font-size: 10px;
	color: #fcb71b;	
}

.restAllRating
{
    font-size: 12px;	
}

.paginationWrap 
{
    background: #fdfdfd;
    padding: 1rem;
    margin: 3rem auto;
    border-radius: 0.2rem;
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 30%);
    counter-reset: paginationPDiv;
    text-align: center;
	width: 97%;
}

.paginationWrapul, .paginationWrap li 
{
	list-style: none;
	display: inline;
	padding-left: 0px;
}

.paginationWrap li 
{
	counter-increment: pagination;
}

.paginationWrap li:hover a 
{
	color: #fdfdfd;
	background-color: #1d1f20;
	border: solid 1px #1d1f20;
}

.paginationWrap li.active a 
{
	color: #fdfdfd;
	background-color: #1d1f20;
	border: solid 1px #1d1f20;
}

.paginationWrap li:first-child 
{
	float: left;
}

.paginationWrap li:first-child a:after 
{
	content: "Previous";
}

.paginationWrap li:nth-child(2) 
{
	counter-reset: pagination;
}

.paginationWrap li:last-child 
{
	float: right;
}

.paginationWrap li:last-child a:after 
{
	content: "Next";
}

.paginationWrap li a 
{
	border: solid 1px #d7d7d7;
	border-radius: 0.2rem;
	color: #7d7d7d;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	padding: 10px 10px;
    width: 45px;
    height: 45px;
}

.paginationWrap li:first-child a
{
 	padding: 10px 10px;
    width: auto;
    height: 45px;
}

.paginationWrap li:last-child a
{
 	padding: 10px 10px;
    width: auto;
    height: 45px;
}

.paginationWrap li a:after 
{
	content: " " counter(pagination) " ";
}

.restinnerBigBanner 
{
    height: 250px;
    position: relative;
    background-position: 50%;
    background-image: url(../../images/restList/restBigbanner/restBan1.jpg);
}

.restD_NameWrap
{
	padding: 20px 0;
}

.restD_NameWrap h3
{
	margin: 0;
    font-size: 24px;
    font-weight: 800;
}

.restDrating
{
	display:flex;
}

.restDrating .restDstarSpan
{
	margin-right: 10px;
}

.restDrating .restDstarSpan i
{
	font-size:13px;
	color: #fcb71b;
}

.restD_NameWrap .restDrating h6
{
	margin: 0 0 0 10px;
    font-weight: 600;
	color: green;
}

.restD_NameWrap .restDrating h6 span
{
	font-weight: 500;
}

.notFillStar
{
	color:#A6A6A6 !important;
}

.tabPillSection
{  
    margin-bottom: 0px;
	border-top: 1px solid #9f9f9f;
	border-bottom: 1px solid #9f9f9f;	
}

.tabPillSection ul.nav-pills
{
	display: flex;
}

.tabPillSection ul.nav-pills li 
{
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

.tabPillSection ul li a
{
    color: #000;
    font-weight: 600;
	position:relative;
	padding: 10px 0;
}

/* Tab Pill Styling Start */
  
.tabPillSection .nav-pills .nav-item.active a
{
	color: #000;
    background-color: unset;
}
	
.tabPillSection .nav-pills .nav-item.active a:after
{
    content: '';
    display: block;
    background-color: #55bbd2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
}

.bottomAnimationShow
{
    position: relative;
    animation: animatebottom 0.4s;
}

@keyframes animatebottom
{
	from{bottom:-300px;opacity:0;} 
	to{bottom:0;opacity:1;}
}

/* Tab Pill Styling End */

.resturantTabDetialsSection
{
	padding:30px 0;
	background: #fff;
}

.lNavmenuDWarp
{
	display: grid;
    grid-template-columns: 10% 90%;
    grid-column-gap: 50px;	
}

.leftMPdiv
{
	border-right: 1px solid #c6c6c6;	
}

.leftNavPill li
{
	margin-bottom:10px;
	position: relative;
}

.leftNavPill li.active:after
{
	content: '';
    display: block;
    height: 27px;
    width: 4px;
    top: 0;
    right: -3px;
    z-index: 0;
    position: absolute;
    background-color: #fe324d;
}

.leftNavPill li a
{
	color:#000;
	font-weight: 600;
}

.leftNavPill li.active a
{
	color:#ff3838;
	text-decoration: none;
}

.MenutypeHead
{
	border-bottom: 1px solid #e9e9e9;	
}

.MenuShow .MenutypeHead h3
{
	margin-top: 0;
    font-size: 25px;
}

.MenuShow .MenutypeHead p
{
    font-size: 12px;
    font-weight: 700;
    color: #7e7d7d;	
}

.menuCardShow
{
	display: grid;
    grid-template-columns: 50% 50%;
    background-color: #fafafa;
    box-shadow: 0px 0px 2px 0px;
    padding: 10px;
    width: 50%;
    margin-top: 20px;	
}

.menuItemName
{
	color: #000;
    font-size: 16px;
    font-weight: 600;	
}

.menuItemPrice
{
    color: #000;
    font-weight: 500;
    font-size: 14px;	
}

.addMenuToCart
{
    display: flex;
    justify-content: flex-end;
    align-items: center;	
}

.addMenuToCart button
{
	background: #fe324d;
    padding: 0px 28px;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    height: 35px;	
}

.plusMinusWrap
{
    display: flex;
    justify-content: flex-end;
    align-items: center;	
}

.plusMinusWrap span 
{
	cursor:pointer; 
}

.plusMinusWrap .number
{
	margin:100px;
}

.plusMinusWrap .minus, .plusMinusWrap .plus
{
	width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #5d5d5d;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.plusMinusWrap input
{
    height: 30px;
    width: 25px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
}

.contactMapWrap
{
    display: grid;
    grid-template-columns: 60% 40%;	
}

.contactWrap .widget .contact_info li i, .contactWrap .widget .contact_info li p, 
.contactWrap .widget .contact_info li a, .contactWrap .widget .contact_info li span
{
	color: #000;
}

/* Gift Card Page Styling Start */

.giftCardSection
{
	padding: 60px 0;
	background-color: #fff;		
}

.sw-theme-arrows>.nav .nav-link::after 
{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 50%;
    left: 98%;
    margin-top: -50px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #f8f8f8;
    z-index: 2;
}

.giftWizardWrap #smartwizard .nav-item a
{
	display:flex;
	flex-direction:column;
}

.giftWizardWrap .sw-theme-arrows>.tab-content .tab-pane {
    padding: 10px;
    background: #fbfbfb;
}

.OGrid
{
    display: grid;
    grid-template-columns: 100%;	
}

.TWGrid
{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;	
}

.TGrid
{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
}

.FGrid
{
    display: grid;
    grid-template-columns: 28% 28% 28% 4%;
    grid-column-gap: 2.8%;	
}

.formInformationWrap .form-control, .giftForm .form-control
{
    background-color:#fff;
}

.giftForm #step-1 h5
{
	color: #2c2a2a;
    font-weight: 300;	
}

.giftForm #step-1 h3
{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;	
}

.giftForm .formInformationWrap label
{
    font-weight: 500;	
}

.dFlexCol
{
    display: flex;
    flex-direction: column;	
}

.customCheckoutSection
{
	padding:30px 0;	
}

/* Gift Card Page Styling End */

/* Checkout Page Styling Start */

.chekout-coupon 
{
    width: 600px;
    margin: 45px auto 5px;
    text-align: center;
}

.coupon-btn 
{
    font-weight: 500;
    margin-bottom: 20px;
    color: #55bbd2;
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
}

.checkout-charge 
{
    width: 600px;
    margin: 0 auto;
}

.checkout-charge ul {
    border-top: 3px solid #55bbd2;
}

.checkout-charge ul li 
{
    padding: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
}

.checkout-charge ul li span 
{
    font-weight: 500;
    color: #39404a;
    text-transform: capitalize;
}

.checkout-charge ul li:last-child span 
{
    font-size: 18px;
    font-weight: 500;
    color: #55bbd2;
}

.checkout-charge ul li span small 
{
    font-size: 14px;
    font-weight: 400;
    margin-left: 3px;
}

.profile-card 
{
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 25px;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    position: relative;
    cursor: pointer;
}

.profile-card.active 
{
    background: #ddffd5;
    border-color: #55bbd2;
}

.profile-card h6 
{
    color: #555555;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.profile-card p 
{
    text-transform: capitalize;
}

.profile-card 
{
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 25px;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    position: relative;
    cursor: pointer;
}

.checkout-check 
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 25px;
    margin-top: 50px;
}

.checkout-check input 
{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-top: 4px;
    cursor: pointer;
}

.checkout-check label 
{
    line-height: 22px;
    font-weight: 500;
}

.checkout-check label a 
{
    color: #55bbd2;
}

.checkout-proced .btn 
{
    width: 100%;
}

.checkout-proced .btn-inline 
{
    color: #fff;
    background:#55bbd2;
}

.payment-card img 
{
	width:50px;
    margin-bottom: 18px;
}

/* Checkout Page Styling End */


/* Drive with us page styling start */

.formBoxWrapper h3.fchild
{
    margin-top: 0;	
}

.formBoxWrapper h3
{
	margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    border-bottom: 1px solid #d5d5d5;	
}

.drivewithusSection
{
	padding:30px 0;
}

.formBoxWrapper
{
	padding: 10px 15px 20px 15px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 4px #ededed;
}

.driveFormWrapper .formBoxWrapper .formInformationWrap .form-group
{
    margin-bottom: 8px;	
}

.formBoxWrapper h2
{
    font-size: 26px;
    text-align: left;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0;	
}

.formBoxWrapper p
{
	font-size: 20px;
    text-align: left;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
}

.formInformationWrap .form-group label
{
	font-weight: 400;	
}

.bigHeadbd
{
	text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: #55bbd2;
    font-weight: 600;
	position:relative;
}

.bigHeadbd:before
{
	content: '';
    display: block;
    width: 28%;
    height: 2px;
    background-color: #55bbd2;
    position: absolute;
    top: 12px;
    left: 0;
}

.bigHeadbd:after
{
content: '';
    display: block;
    width: 28%;
    height: 2px;
    background-color: #55bbd2;
    position: absolute;
    top: 12px;
    right: 0;	
}


.mandField
{
	color:red;
}

/* Drive with us page styling End */

/* Login Page Styling Start */

.loginSection
{
	padding:60px 0;
}

.user-form-card 
{
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #e8e8e8;
}

.user-form-title 
{
    text-align: center;
    margin-bottom: 25px;
}

.user-form-title h2 
{
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 5px;
    color: #55bbd2;
    font-weight: 600;
    margin-top: 0px;
}

.user-form-title p 
{
    text-transform: capitalize;
}

.user-form 
{
    width: 100%;
}

.user-form .form-group {
    margin-bottom: 20px;
}

.user-form .form-group .form-control 
{
    width: 100%;
    height: 45px;
    border-radius: 6px;
    padding: 0px 20px 2px;
    color: #555555;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
}

.user-form-part .form-button button 
{
    width: 100%;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    line-height: 45px;
    border-radius: 8px;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
    color:#fff;
    background: #55bbd2;
}

.user-form-part .form-button p 
{
    font-size: 15px;
    margin-top: 12px;
    text-transform: capitalize;
}

.user-form-part .form-button p a 
{
    font-weight: 500;
    margin-left: 5px;
    color:#55bbd2;
}

.user-form-remind 
{
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background:#fff;
    border: 1px solid #e8e8e8;
}

.user-form-remind p a:hover 
{
    text-decoration: underline;
}

.user-form-remind p a 
{
    font-weight: 500;
    margin-left: 5px;
    color: #55bbd2;
}

.justify-content-center 
{
	display: flex;
    justify-content: center!important;
}

.fbGoogleWrap
{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    margin-bottom: 20px;
	position:relative;
}

.fbGoogleWrap .customFBLogin
{
	box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background: #39578A;
    color: #fff;	
}

.fbGoogleWrap .customFBLogin i, .fbGoogleWrap .customGoogleLogin i
{
	margin-right: 10px;	
}

.fbGoogleWrap .customGoogleLogin
{
	box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background: #bd412b;
    color: #fff;	
}

.orWrap
{
	position: relative;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.orWrap:before
{
	content:'';
	display:block;
    width: 45%;
    height: 2px;
	background-color:#ebebeb;
	position:absolute;
	top:15px;
	left:0;
}

.orWrap:after
{
	content:'';
	display:block;
    width: 45%;
    height: 2px;
	background-color:#ebebeb;
	position:absolute;
	top:15px;
	right:0;
}

/* Login Page Styling End */

/* Register Page Styling Start */

.registerSection
{
	padding:60px 0;
}

/* Register Page Styling End */

/* Faq Page Styling Start */

.faqSection 
{
    padding: 50px 0;
}

.leftfaqQ_AWrap
{
    display: grid;
    grid-template-columns: 30% 60%;
    grid-column-gap: 10%;
}

.lQWrap ul
{
    margin-top: 20px;	
}

.lQWrap ul li
{
    margin-bottom: 10px;	
}

.lQWrap ul li a
{
    color: #425869;
    font-size: 17px;	
}

.rAWrap h1
{
    font-size: 40px;
    margin-bottom: 20px;	
}

.rAWrap p
{
    font-size: 17px;	
}

.rAWrap h2
{
	font-size: 24px;
    margin-top: 30px;
    font-weight: 600;
    margin-bottom: 10px;	
}

.oneFullAccord_PDiv .accordWrap
{
	border-bottom: 1px solid #d3d3d3;	
}

.oneFullAccord_PDiv .accordWrap:last-child
{
	border-bottom: none;	
}

.accordOpener
{
    display: block;
    font-size: 18px;
    color: #333;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
	position:relative;
}

.accord_content 
{
	padding:10px 0;
}

.accordOpener:after
{
	content:'+';
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;	
}

.accordOpener[aria-expanded="flase"]:after
{
	content:'+';
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;	
}

.accordOpener[aria-expanded="true"]:after
{
    content: '-';
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
}

.lQWrap
{
    height: 25vh;
    min-height: 200px;
    overflow: auto;
    position: sticky;
    top: 120px;
	overflow: hidden;	
}



/* Faq Page Styling End */

@media only screen and (max-width: 600px) 
{

	.header-part .container 
	{
		padding-left: 15px;
		padding-right: 15px;
	}	
	
	.banner_content 
	{
		top: 45%;
		left: unset;
		z-index: 1;
		margin: 0 auto;
		position: absolute;
		transform: translateY(-50%);
		padding: 0 20px;
		margin-left: -10px;
	}

	.banner_content h2 
	{
		color: #fff;
		font-weight: 800;
		font-size: 18px;
		line-height: 25px;
		width: 95%;
		margin: 0 auto;
	}

	.form-search.bannerSearch 
	{
		margin: 20px auto 0;
		text-align: center;
		font: bold 13px sans-serif;
		max-width: 90%;
		position: relative;
	}

	.form-search.bannerSearch input 
	{
		width: 100%;
		height: 50px;
		box-sizing: border-box;
		background-color: #ffffff;
		box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 8%);
		padding: 14px 10px 14px 10px;
		border: 1px solid #b6c3cd;
		border-right: 0;
		color: #4E565C;
		outline: none;
		-webkit-appearance: none;
		border-radius: 50px;
	}

	.divlAddressWrap 
	{
		display: grid;
		grid-template-columns: 100%;
		grid-row-gap: 5%;
	}
	
	.strip ul 
	{
		padding: 0;
		margin: 0;
		display: block;
	}

	.resturatntSection 
	{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	
	.delivTitle 
	{
		font-size: 25px;
		color: #fff;
		font-weight: 800;
	}

	.form-search.bannerSearch 
	{
		margin: 0 auto;
		text-align: center;
		font: bold 13px sans-serif;
		max-width: 100%;
		position: relative;
	}

	.becomeDriverPartner 
	{
		padding: 10px 0;
	}

	.divDriverPartner 
	{
		width: 280px;
		display: flex;
		justify-content: center;
		text-align: center;
		margin: 30px auto;
	}

	.resturatntSection .container 
	{
		width: 100%;
	}

	.main_title a 
	{
		position: relative;
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}

	.resturantListWrap 
	{
		display: grid;
		grid-template-columns: 77%;
		grid-row-gap: 30px;
		justify-content: center;
	}

	.lNavmenuDWarp 
	{
		display: grid;
		grid-template-columns: 100%;
		grid-column-gap: 50px;
	}

	.leftMPdiv 
	{
		width: 100%;
		border-right: unset;
	}

	.leftNavPill
	{
		display: flex;
		justify-content: space-between;		
	}
	
	.leftNavPill li.active:after 
	{
		content: '';
		display: block;
		height: 2px;
		width: 100%;
		top: 24px;
		left: 0px;
		z-index: 0;
		position: absolute;
		background-color: #fe324d;
	}

	.menuCardShow 
	{
		display: grid;
		grid-template-columns: 50% 50%;
		background-color: #fafafa;
		box-shadow: 0px 0px 2px 0px;
		padding: 10px;
		width: 100%;
		margin-top: 20px;
	}

	.contactMapWrap 
	{
		display: grid;
		grid-template-columns: 100%;
	}

	.TWGrid
	{
		display: grid;
		grid-template-columns: 100%;
	}

	.TGrid
	{
		display: grid;
		grid-template-columns: 100%;
	}

	.FGrid
	{
		display: grid;
		grid-template-columns: 100%;
	}
	
	.formBoxWrapper h3 
	{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 20px;
		font-weight: 500;
		border-bottom: 1px solid #d5d5d5;
	}	

	.formBoxWrapper h2 
	{
		font-size: 16px;
		text-align: left;
		font-weight: 700;
		margin-bottom: 0px;
		margin-top: 0;
	}

	.formBoxWrapper p 
	{
		font-size: 15px;
		text-align: left;
		font-weight: 300;
		line-height: 20px;
		margin-bottom: 20px;
	}	
	
}